* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
}

header {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-left: 70px;
  padding: 30px;
  align-items: center;
}

nav a {
  font-size: 0.7em;
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

nav a.active {
  color: goldenrod;
  font-weight: 800;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 5px;
}

.fa-search {
  background-color: grey;
  padding: 10px;
  border-radius: 20px;
}

.rectangle {
  width: 100%;
  height: 300px;
  padding-top: 50px;
  background: rgb(216, 212, 212);
}

p {
  letter-spacing: 0.125em;
  text-align: center;
  padding-top: 90px;
  margin: auto;
}

/* .boxes {
    margin: 30px;
}
.options {
  background-color: whitesmoke;
  color: gray;
  border: 2px solid gray;
  width: 200px;
  height: 40px;
  font-size: 15px;
  align-content: center;
  text-align: justify;
  s
} */

.form {
  margin: 0;
  padding-left: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.form-container {
  align-items: center;
  display: flex;
  border: 0px solid #333;
  display: flex;
  margin: 0 auto;
  max-width: 50%;
}

label {
  font-weight: bold;
}
select,
button {
  padding: 8px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 200px;
  align-content: center;
  margin: auto;
  gap: 1px;
  max-width: 50%;
}
button {
  background-color: gray;
  color: #fff;
  cursor: pointer;
  width: 200px;
}

p {
  padding-top: 20px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 90px;
}

.see {
  font-weight: lighter;
  font-size: 0.7em;
  text-align: left;
  padding-left: 100px;
  margin-left: 450px;
}

/* CATEGORIES */

.tour {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "montserrat";
}

.container_rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.rectangle_2 {
  display: flex;
  width: 200px;
  height: 120px;
  background-color: #fff;
  border: 1px solid gray;
  justify-items: center;
  margin: 100px;
  border-radius: 10px;
  max-width: 50%;
  margin-left: 100px;
  padding: 2px;
  margin-top: 2%;
}

.rectangle_2 i {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

.rectangle_2 p {
  font-family: "montserrat";
  font-weight: lighter;
  margin-top: 80px;
  margin-left: -15px;
  text-align: left;
  width: auto;
}
/* .tours {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  max-width: 50%;
  margin: 0 auto;
}

.rectangle_2 {
  max-width: 50%;
  width: 170px;
  height: 120px;
  border: 2px solid gray;
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

.circle_2 {
  width: 40px;
  height: 40px;
  border: 2px solid gray;
  margin: auto;
  margin-top: 20%;
}

#text {
  font-size: 0.75em;
  font-weight: lighter;
  max-width: 100%;
  margin-top: 50%;
  padding: 1px;
  align-items: center;
  gap: 50%;
  margin-left: 5px;
  text-align: left;
} */

.pagenation {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 0 auto;
  width: 20px;
}
.pagenation i {
  padding: 5px;
  color: #fff;
}
.pagenation p {
  border: 1px solid whitesmoke;
  height: 25px;
  width: 20px;
  text-align: center;
  border-radius: 5px;
}

/* .fa-angles-right {
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}
.fa-angles-left {
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
} */

.dotun {
  margin: auto;
  width: 400px;
  height: 200px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  m
}

.james {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.james img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px;
}

.tour-text {
  font-size: 12px;
  font-weight: lighter;
  margin: -20px;
}
