body {
  padding: 50px;
  margin: 50px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top h6 {
  border-radius: 5px solid;
  padding: 5px;
  margin: 5px;
}

.pics {
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;
}

.pics img {
  height: 200px;
  width: 215px;
  border: 1px;
  border-radius: 10px;
}

.pics h6 {
  text-align: center;
}

.price {
  display: flex;
  justify-content: space-between;
}

.days {
  width: 200px;
  display: flex;
  justify-self: space-evenly;
}

.amt {
  margin-left: 20px;
}

.back {
  background-image: url(rukayat/hot\ air\ balloon.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  padding-left: 70px;
}

.back p h6 {
  justify-items: left;
  padding-bottom: 50px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom h6 {
  border-radius: 5px solid;
  padding: 5px;
  margin: 5px;
}

.botmpics {
  display: flex;
  justify-content: space-evenly;
  border-radius: 3px;
}

.botmpics img {
  height: 150px;
  width: 150px;
  border: 1px;
  border-radius: 10px;
}

.oneb {
  height: 150px;
  width: 150px;
  border: 1px;
  border-radius: 10px;
  background-image: url(/images/bali.jpeg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.oneb p {
  font-weight: 600;
  margin: 0;
}

.twob {
  height: 150px;
  width: 150px;
  border: 1px;
  border-radius: 10px;
  background-image: url(/images/Roma.jpeg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
.twob p {
  font-weight: 600;
  margin: 0;
}

.thrb {
  height: 150px;
  width: 150px;
  border: 1px;
  border-radius: 10px;
  background-image: url(/images/phuket.jpeg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.thrb p {
  font-weight: 600;
  margin: 0;
}

.fourb {
  height: 150px;
  width: 150px;
  border: 1px;
  border-radius: 10px;
  background-image: url(/images/bali.jpeg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.fourb p {
  font-weight: 600;
  margin: 0;
}

.fiveb {
  height: 150px;
  width: 150px;
  border: 1px;
  border-radius: 10px;
  background-image: url(/images/Bankok.jpeg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.fiveb p {
  font-weight: 600;
  margin: 0;
}

.grab {
  font-weight: 700;
  font-size: 38px;
  width: 400px;
  color: white;
}
.limited {
  color: white;
  margin-top: -20px;
  font-weight: 500;
}
.btn {
  border-radius: 10px;
  background-color: purple;
  font-weight: 500;
  padding: 15px 30px;
  color: white;
}
.thirty {
  color: purple;
}
